<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sysu.sjk.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.sysu.sjk.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FirstActivity"
            android:label="Gank">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GankDetailActivity"></activity>
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".TestProgressActivity"></activity>
        <activity android:name=".TestDaoActivity"></activity>
        <activity android:name=".PictureListActivity"></activity>
        <activity android:name=".PictureDetailActivity"></activity>


        <service android:name="com.sysu.sjk.service.CacheAllGankListService">
            <intent-filter>
                <action android:name="com.sysu.sjk.cache_all_gank_list" />
            </intent-filter>
        </service>
    </application>

</manifest>